.slider-show {
    margin-top: 80px;
    /* height: 900px; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 70px 0 20px;
}

.slider-show img {
    width: 100%;
    height: 400px;
    /* object-fit: cover; */
}

.main-content {
    width: 1140px;
    /* display: flex; */
    /* justify-content: center; */
    /* margin: 0 auto; */
}

.img_near_footer img {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
